<nav class="fixed top-0 left-0 h-full bg-gray-800 text-white p-4 flex flex-col items-center w-64">
  <h1 class="text-2xl font-bold mb-6">
    Murakami <span class="text-green-500">Pay</span>
  </h1>
  <ul class="space-y-4 w-full">
    <li>
      <a routerLink="/home" class="block py-2 px-4 rounded hover:bg-gray-700"><i class="fa-solid fa-house"></i> Home</a>
    </li>
    <li>
      <a routerLink="/calendario" class="block py-2 px-4 rounded hover:bg-gray-700"><i class="fa-solid fa-calendar-days"></i> Calendario</a>
    </li>
    <!-- Adicione mais links conforme necessário -->
  </ul>
</nav>